* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
.whatsapp-icon {
    margin-top:13px;
  }


.banner-principal {
    background: url("/public/images/banner_principal.jpg")no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    width: 100%; height: 500px;
    margin-bottom: 0px;
}

.welcome {
    width: 100%; height: 150px;
}

.flex {

    margin: auto;
    height: auto;
    display: flex;
    align-items: start;
  }

.centrar {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-home {
    position: fixed;
    width:120px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color: #343a40;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
    padding-right: 50px;
  }
  
.home-icon {
    margin-top:13px;
  }

.title_nav {
  display: inline;
  font-weight: 600;
  font-style: normal;
  margin-left: 10px;
}

.welcome {
  text-align: center;
  margin-bottom: 100px; 
  color: white; 
  padding-top: 50px;
  font-weight: 600;
  font-style: normal;
  
}

@keyframes wave {
	0% {
		transform: translate(-10rem);
	}
	100% {
		transform: translate(2rem); 
  }

}

.welcome {
	animation-name: wave;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-timing-function: ease-in;
	animation-delay: 0s;
}

.icon {
  text-align: center; 
  padding-top: 10px;
}

.img_style {
  border-radius: 8px;
}
footer {
  background-color: #343a40;
  text-align: center;
  color: white;
  margin-top: 20px;
  padding-top: 10px;
}

.animate__animated {
  
  animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction:alternate-reverse;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;

}

.animate__animated:hover {
  
  animation-play-state:paused;
}